#top_center
  float left
  font-size 22pt
  margin 10px 0 14px
  max-height 35px
  max-width 500px
  overflow hidden
  text-overflow ellipsis
button
  background-color #86B248
  border none
  border-radius 5px
  width 144px
  height 29px
  color white
  font-size 10.5pt
  float right
  margin 12px 0 0
#wrap
  border 1px solid #dfe1e5
  border-radius 5px
  float left
  font-size 10pt
  padding-top 14px
  text-align center
  .directory_wrap
    display inline-block
    height 100%
    margin 0 11px 12px 10px
    text-align center
    vertical-align top
    width 137px
.directory
  border 1px solid #DDDFE3
  float left
  height 126px
  width 137px
  text-align center
  padding 13px 0 0 0
  margin-bottom 13px
.directory:hover
  background-color #F3F6FA
.directory_text
  height 100%
  overflow hidden
  max-height 100px
  padding 0 10px
  text-overflow ellipsis
  width 117px
#center
  left 245px
  right 254px
  li
    border none
  img
    height 115px
    width 115px