header
  background-color #86B248
  height 60px
  border-bottom 2px solid #71973C
  padding 5px
#ava
  margin 0 4px 0 13px
#logo
  margin 10px 0 0 15px
.header_search
  background #73993d url("/img/header/ico_search.png") no-repeat scroll 9px center
  border medium none
  border-radius 2px
  color white
  display inline-block
  font-size 11pt
  height 31px
  padding-left 35px
  left 182px
  margin-top 16px
  position absolute
.header_info
  float right
  margin 12px 2px 0 0
  a
    color white
  img
    vertical-align middle
    margin 1px 8px 0