#right
  padding-top: 14px;
  right: 25px;
  width: 214px;
  .adz_by
    margin 0
  .place, .product_info, .profession
    margin-bottom 3px
  li
    font-size 10pt
    padding-bottom 5px
  .place
    max-height 15px
  .product_info
    max-height 55px
  .name
    a
      color black
      display block
      font-size 12pt
      margin 12px 2px 4px
  div
    img
      float left
      margin 0 9px 0 0
      width 81px
      height 82px
  #banner
    border 1px solid #dfe1e5
    margin-left 2px
  .li_bottom
    margin-top 17px
    padding-bottom 18px
    div
      div
        margin -3px 0 0
        height 100%
