@font-face
  font-family ProximaNova
  src url(/font/Proxima.otf)
body
  background-color #FEFEFE
  margin 0
  font-family ProximaNova, sans-serif
  max-width 1440px
  min-width 970px
  position relative
section
  position absolute
ul
  margin 3px 0 7px
  padding 0
li
  list-style-type none
  border-bottom 2px solid #dfe1e5
  div
    div
      a
        display block
        margin -6px 0 2px 0
        font-size 12pt
        max-height 22px
        max-width 123px
        overflow hidden
        text-overflow ellipsis
a
  text-decoration none
  color grey
.place, .profession, .product_info
  font-size 10.5pt
  max-height 35px
  max-width 123px
  overflow hidden
  text-overflow ellipsis
  display block
.follow
  font-size 9.5pt
  margin 6px 0 23px
.copyright
  font-size 9pt
  margin 13px 0 0
  max-height 52px
  max-width 210px
  overflow hidden
  text-overflow ellipsis
  a
    display inline-block
    margin 11px 13px 0 0
.see_all
  float right
.advertisement
  font-size 10pt
  margin 17px 4px
  max-height 16px
  max-width 155px
  overflow hidden
  text-overflow ellipsis
.adz_by
  font-size 8.5pt
  margin -3px
  display block
  margin -3px -3px 16px





